<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="map.karen.com.materialdesignui" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.DrawerLayoutActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DrawerLayoutActivity" />
        </activity>
        <activity
            android:name=".activity.SwipeRefreshActivity"
            android:label="@string/title_activity_swipe_refresh">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DrawerLayoutActivity" />
        </activity>
        <activity
            android:name=".activity.FloatingActionButtonActivity"
            android:label="@string/title_activity_floating_action_button">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DrawerLayoutActivity" />
        </activity>
        <activity
            android:name=".activity.SlidingPaneLayoutActivity"
            android:label="@string/title_activity_sliding_pane_layout" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DrawerLayoutActivity" />
        </activity>
    </application>

</manifest>
